{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      {% if task.subject %}
      <li>科目: {{ task.subject }}</li>
      {% endif %}
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>締め切り日: {{ task.due_at }}</li>
      {% endif %}
      <li>Note: {{ task.content }}</li>
      {% if task.completed %}
      <li>達成状況: 済</li>
      {% else %}
      <li>達成状況: 未</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">トップにもどる</a>
      <a href="{% url 'update' task.id %}">編集</a>
      <a href="{% url 'delete' task.id %}">削除</a>
      <a href="{%url 'close' task.id %}">完了</a>
    </div>
  </body>

</html>