{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>Todoリスト</h1>
    <p>フォームを入力してください。</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">課題名</label><br>
        <input id="titleInput" name="title" type="text">
      </div>
      <div>
        <label for="subjectInput">科目名</label><br>
        <input id="subjectInput" name="subject" type="text">
      </div>
      <div>
        <label for="dueInput">作成日:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
        <label for="contentInput">メモ:</label><br>
        <textarea id="contentInput" name="content">{{ task.content }}</textarea>
      </div>
      <div>
        <button type="submit">作成</button>
      </div>
    </form>
    <br>

    <div>
      <form action="{% url 'search' %}" method="get">
        <input type="text" name="q" placeholder="タスクを探す">
        <button type="submit">検索</button>
      </form>
    </div>
    <br>

    <div>
      <label for="contentInput">科目名から検索</label><br>
      <form action="{% url 'search_subject' %}" method="get">
        <input type="text" name="q_s" placeholder="Search tasks">
        <button type="submit">検索</button>
      </form>
    </div>
    <br>

    <div>
      <a href="{% url 'index' %}?order=due">締め切り順に並び替える</a> |
      <a href="{% url 'index' %}?order=post">投稿順に並び替える</a>
    </div>

    {% for task in tasks %}
    <div class="text">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        {% if task.subject %}
        <li>科目: {{ task.subject }}</li>
        {% endif %}
        <li>作成日: {{ task.posted_at }}</li>
        {% if task.due_at %} 
        <li>締め切り: {{ task.due_at }}</li>
        {% endif %}
        <li>メモ: {{ task.content }}</li>
        {% if task.completed %} 
        <li>達成状況: 済</li>
        {% else %}
        <li>達成状況: 未</li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </body>

</html>
