<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>検索結果</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>"{{ query }}" の検索結果</h1>
    <a href="{% url 'index' %}">Back to Top</a>

    {% if tasks %}
      {% for task in tasks %}
      <div class="text">
        <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
        <ul>
          <li>作成日: {{ task.posted_at }}</li>
          {% if task.due_at %} 
          <li>締め切り: {{ task.due_at }}</li>
          {% endif %}
          {% if task.completed %} 
          <li>Status: 済</li>
          {% else %}
          <li>Status: 未</li>
          {% endif %}
        </ul>
      </div>
      {% endfor %}
    {% else %}
      <p>検索結果が見つかりませんでした。</p>
    {% endif %}
  </body>

</html>
